img {max-width: 100%;}

pre {white-space: pre-wrap}

#reader-pane {
  margin-top: 85px;
}

@media only screen and (max-width: 990px) {
  #app .banner {
    margin-left: -10px;
  }
}

@media only screen and (max-width: 767px) {
 #app #reader-pane {
   margin-top: 125px;
 }
}