body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

img {max-width: 100%;}
#main-section {margin-top: 65px;}
#reader-pane img {border: 1px solid #021a40;}

#nodes-list > h1, #nodes-list > h2, #nodes-list > h3, #nodes-list > h4, #nodes-list > h5, #nodes-list > h6 {
  margin-top: 1.5em 0 .5em;
}

#nodes-list > p { margin: 1em 0 0; }

#nodes-list > blockquote {
  margin-top: 1.5em; margin-bottom: 1.5em;
  padding: .5em 1em;
  background-color: aliceblue
}

#nodes-list > p code { color: maroon;}

code {
  background-color: rgba(27,31,35,0.05);
  border-radius: 3px;
  padding: 0.2em .5em;
  margin: 0;
  font-size: 85%;
}

.hljs {padding: 0 0.5em;}
.codeBody .fa { border-bottom: 1px dotted; margin: 0 .5em; }
.codeGutter .fa { font-size: 12px; opacity: 0; }
.lowPrioritySection .fa { opacity: 100; }
.lowPrioritySection { cursor: pointer; } 
.highPrioritySection, .highPrioritySection code { background-color: rgba(255,255,217,0.75) }
pre {white-space: pre-wrap; margin: 0;}